<!DOCTYPE html>
<html>
    <head>
        <title>Binarization-App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="../static/js/binarize.js"></script>
    </head>
    
    <body>
        <h1>Binarize</h1>
        <input type="file" onchange="readIMG(this)"></input>
        <div id="slider"></div>
        <form name="threshold" method="get">
            <input type="submit" id="threshsend"></input>
        </form>
        <br>
        <canvas id="imview" width=859 height=1111 alt="Image Preview"></canvas>
    </body>
</html>
